[Unit]
Description=SwayIdle Service
After=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/swayidle -w 
Restart=on-failure

[Install]
WantedBy=graphical-session.target
