[Unit]
Description=SwayIdle Service
After=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/swayidle -w \
  timeout 600 'niri msg action power-off-monitors' \
  resume 'niri msg action power-on-monitors'
Restart=on-failure

[Install]
WantedBy=graphical-session.target
